@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 146 100% 25.5%;
    --primary-foreground: 0 0% 100%;
    --secondary: 144 29% 91%;
    --secondary-foreground: 0 0% 20%;
    --muted: 144 29% 91%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 144 29% 91%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 146 100% 25.5%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

.text-dark-green {
  color: #008236;
}

.bg-dark-green {
  background-color: #008236;
}

.text-light-green {
  color: #E3F0E8;
}

.bg-light-green {
  background-color: #E3F0E8;
}

.text-black {
  color: #333333;
}

.bg-black {
  background-color: #333333;
}
